@model D08Jagadeesh.Models.Section

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FacultyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacultyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.columns)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.columns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rows)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rows)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.SectionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
