@model IEnumerable<D08Jagadeesh.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FacultyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.columns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rows)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FacultyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.columns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rows)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.SectionId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.SectionId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.SectionId">Delete</a>
        </td>
    </tr>
}
</table>
